html,body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}
#sec1,#sec2,#sec3,#sec4{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#sec1,#sec4{
    background-image: url(image1.png);
    min-height: 100%;
}
#sec2{
    background-image: url(image2.png);
    min-height: 400px;
}
#sec3{
    background-image: url(image3.png);
    min-height: 400px;
}

#div1,#div2,#div3,#div4{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
}
#span1,#span4{
    background-color: rgb(44, 44, 44);  
}
#span2{
    background-color: rgb(44, 44, 44,0.6);  
}
#span1,#span2,#span4{
    padding: 20px 50px;
}
#parasec1{
    padding: 50px 80px;
    text-align: center;
    color: rgb(44, 44, 44);
    background-color: rgb(255, 255, 255);
}
#parasec2,#parasec3{
    text-align: center;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 50px 80px;
}
h1{
    text-transform: uppercase;

}

